Q1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple

In [2]:
str1 = "Hello World!"
list1 = [1,2,3,'4',5,[1,6,4]]
float1 = 6.858
tuple1 = (6,7,8,9)

Q2. Given are some following variables containing data:
(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.
What will be the data type of the above given variable.

In [11]:
var1=''
var2 = '[ DS , ML , Python]'
var3 =  [ 'DS' , 'ML' , 'Python' ] 
var4 = 1

print(type(var1))
print(type(var2))
print(type(var3))
print(type(var4))

<class 'str'>
<class 'str'>
<class 'list'>
<class 'int'>

Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **

In [13]:
#1.) Division operator (/) : It is used for division

a , b = 6,3
print(a/b)

#2.) Modulus operator (%) : It returns the remender of the division 

a , b = 5,3 
print(a%b)

#3.) Float Devision operator (//) : It removes the float part of the result and return the integer value 

a , b = 5 , 3 
print(a//b)

#4.) Exponential operator (**) : It is used for the exponent of a number 

a,b = 2,3 
print(a**b)

2.0
2
1
8

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [17]:
lis = ['1' , 2  , '3' , 4 , 5.6 , [1,4,5] , (1 , 4 ) , "Hello" ,5.678 ,True ]

for i in lis:
    print(f"value is {i} and type is {type(1)}")

value is 1 and type is <class 'int'>
value is 2 and type is <class 'int'>
value is 3 and type is <class 'int'>
value is 4 and type is <class 'int'>
value is 5.6 and type is <class 'int'>
value is [1, 4, 5] and type is <class 'int'>
value is (1, 4) and type is <class 'int'>
value is Hello and type is <class 'int'>
value is 5.678 and type is <class 'int'>
value is True and type is <class 'int'>

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [21]:
a=36

b=6

divisions = 0  # Variable to store the number of divisions

while a % b == 0:
    a //= b  # Divide A by B using integer division
    divisions += 1  # Increment the divisions counter

print("Number of divisions:", divisions)

Number of divisions: 2

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [27]:
import random

# creating a list
lis = []
for i in range(25):
    a = random.randint(1,100)
    lis.append(a)

#checking the divisibility 
for i in lis:
    if (i%3 == 0):
        print(f"{i} is divisible by 3 ")
    else: 
        print(f"{i} is not divisible by 3 ")

28 is not divisible by 3
38 is not divisible by 3
16 is not divisible by 3
42 is divisible by 3
57 is divisible by 3
65 is not divisible by 3
100 is not divisible by 3
37 is not divisible by 3
94 is not divisible by 3
31 is not divisible by 3
91 is not divisible by 3
7 is not divisible by 3
40 is not divisible by 3
42 is divisible by 3
76 is not divisible by 3
67 is not divisible by 3
9 is divisible by 3
87 is divisible by 3
95 is not divisible by 3
85 is not divisible by 3
74 is not divisible by 3
21 is divisible by 3
80 is not divisible by 3
99 is divisible by 3
71 is not divisible by 3

Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

The mutable data type are those data which can be which can be change or modify or deleted on declaretion for example list , int , char The unmutable data type are those data which can not be which can be change or modify or deleted on declaretion for example tuple , string

In [29]:
a = 36
b = 6
div = 0
while a%b ==0:
    a = a//b 
    div +=1
print(div)

2

In [31]:
#as tuple is immutable it will show error
a = (1,2,3)
a[2] = 4

TypeError: 'tuple' object does not support item assignment